<div id="footerAll">
    <div class="icons">
        <ul class="iconsFooter">
            <li><a href="#"><fa-icon [icon]="faGithub" class="github"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faYoutube" class="youtube"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faFacebookF" class="facebook"></fa-icon></a></li>
        </ul>
    </div>
    <div class="infoRodape">
        <div class="moreInfo">
            <ul>
                <li>Contato</li>
                <li>•</li>
                <li>Suporte</li>
                <li>•</li>
                <li>Marketing</li>
            </ul>
        </div>
        <div class="terms">
            <h3>Termos de Uso - Políticas de Privacidade</h3>
            <p>2023 - Paulo Henrique &#174;</p>
        </div>
    </div>
</div>