.menuTitle{
    color: #CCC;
}
.title{
    margin: 15px 0;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI'; 
    text-transform: uppercase;
}
.menuTitle > hr {
    margin: 10px 0 10px;
    border-color: #7e7e7e;
}