.menuTitle{
    color: #CCC;
    background-color: #121212;
}
.menuTitle > h1 {
    padding: 2rem 0;
}
.title{
    font-size: 7rem;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI'; 
    text-transform: uppercase;
}
.menuTitle > hr {
    border-color: #7e7e7e;
}