.containerMenuBar{
    margin: 30px 0;
}
.containerMenuBar > ul{
    display: flex;
    flex-direction: row;
}
.containerMenuBar > ul > li{
    margin-right: 20px;
    list-style: none;
    color: #CCC;
}
ul > hr{
    margin-right: 20px;
    border-color: rgba(165, 164, 164, 0.4) 
}